body{
     background-size: cover;
    background-repeat: no-repeat;
 }
 .heading_e,.paragraph_e{
        color: #324646;
        background-color: antiquewhite;
        border: solid;
        border-color: black;
        border-radius:10px;
        padding: 10px;
    }
    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }